<!DOCTYPE html>
<html>
    <head>
        <title>{{.Name}} - MiSTer {{.ListName}} - FPGAFiles.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/game.css" rel="stylesheet" crossorigin="anonymous">
        <script src="/common.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SSCX9KKHQV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SSCX9KKHQV');
        </script>
    </head>
    <body class="bg-dark text-white {{$.FolderName}}">
      {{template "navigation.html"}}
        <div class="content">
            <h1>{{.Name}}</h1>
            <img class="resize" src="/mister/{{.FolderName}}/titles/{{.Image}}">
            <br/><br/>
            <img class="resize" src="/mister/{{.FolderName}}/snaps/{{.Image}}">
            <br/><br/>
            {{if .Video}}
            <div class="embed-container"><iframe src="https://www.youtube.com/embed/{{.Video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            {{end}}
            {{if (eq "arcade" .FolderName)}}
            <div class="resize">{{.Moves}}</div>
            {{end}}
            <div id="credits"></div>
        </div>
    </body>
</html>