<!DOCTYPE html>
<html>
    <head>
        <title>FPGAFiles - Play it on MiSTer today!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/common.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SSCX9KKHQV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SSCX9KKHQV');
        </script>
    </head>
    <body class="bg-dark text-white home">
      {{template "navigation.html"}}
          <div class="container-fluid">
              <h5>Purpose</h5>
              <ul>
                <li>Fast, mobile-friendly, no-ads site to showcase what's playable on MiSTer FPGA.</li>
                <li>You will find <strong>title/gameplay screenshots and curated gameplay videos</strong>.</li>
                <li>You will not find roms on this site.</li>
              </ul>

              <h5>Sections</h5>
              <table class="table text-white" style="font-size: 0.9rem; max-width: 600px;">
                <thead>
                  <tr>
                    <th scope="col">System</th>
                    <th scope="col">Games<br/>(video coverage)</th>
                  </tr>
                </thead>
                <tbody>
                  {{range .Stats}}
                    <tr>
                      <td><a href="/mister/{{.Link}}/a.html">{{.Name}}</a></td>
                      <td>{{.Games}} ({{.LongplayPercentage}}%)</td>
                    </tr>
                  {{end}}
                </tbody>
              </table>

              
              <!-- <ul class="navhome"></ul> -->

              <h5>Benefits MiSTer FPGA</h5>
              <ul>
                <li>Extremely low audio/video latency on modern displays.</li>
                <li>Games are incredibly responsive and feel just like they did when you were a kid.</li>
                <li>Your skills haven't diminished over time, you've just been playing with lag for the last 20+ years.</li>
                <li>Use any USB controller or original console controllers through low-latency adapters.</li>
                <li>Open-source.</li>
                <li>Pick one up today at: <a href="https://misteraddons.com">https://misteraddons.com</a> and <a href="https://www.misterkits.com">https://www.misterkits.com</a></li>
              </ul>
              
              <h5>Credits</h5>
              <p>The site uses files from different community sources:</p>
              <ul>
                <li>Arcade images (snaps/select/titles) and command.dat from <a href="https://www.progettosnaps.net/index.php">ProgettoSnaps</a>.</li>
                <li>SMS images (snaps/titles) from <a href="https://www.smspower.org/">SMS Power</a>.</li>
                <li>NES, GB, GBC (snaps/titles) from <a href="https://github.com/libretro-thumbnails">libretro-thumbnails</a>.</li></li>
                <li>Atari 2600, SNES, Genesis, Sega CD, Neo Geo, TG-16/PCE (snaps/titles) from <a href="https://emumovies.com">EmuMovies</a>.</li>
                <li>Atari Lynx images (snaps/titles) from <a href="https://atarigamer.com">https://atarigamer.com</a>.</li>
                <li>Embedded YouTube gameplay videos by <a href="https://longplays.org/">World of Longplays</a>, <a href="https://www.youtube.com/channel/UCRVzqURsCH6VKaQfoDP2zIA">hirudov2d</a> and many others.</li>
              </ul>
              
              <h5>Give Back</h5>
              <p>Please consider supporting video game preservation:</p>
              <ul>
                <li><a href="https://www.patreon.com/gamehistoryorg">The Video Game History Foundation's Patreon</a></li>
                <li><a href="https://www.patreon.com/topapate">Jose Tejada's (jotego) Patreon</a></li>
              </ul>
              <p class="text-center">Last Update: {{.UpdatedOn}} by José Pulgar<br/><br/></p>
          </div>
      <!-- <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          fetch('/navigation.json')
          .then(response => response.json())
          .then(data => {
              const navTarget = document.querySelector('.navhome');
              for (var company in data.sections) {
                  
                  var li = document.createElement("li")
                  li.append(company + ": ")
                  var companyLength = Object.keys(data.sections[company]).length;
                  var i = 1;
                  for (var system in data.sections[company]) {
                      var shortname = data.sections[company][system].shortname;
                      var longname = data.sections[company][system].longname;
                      var link = data.sections[company][system].link;
                      var a = document.createElement("a")
                      a.append(longname)
                      a.setAttribute("href", link)
                      li.append(a)
                      if (i != companyLength) {
                          li.append(" | ");
                      }
                      i++;
                  }
                  navTarget.append(li)
              }
          });
      });
      </script> -->
    </body>
</html>