<!DOCTYPE html>
<html>
    <head>
        <title>MiSTer {{.ListName}} Games - FPGAFiles.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/gamelist.css" rel="stylesheet">
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/common.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SSCX9KKHQV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SSCX9KKHQV');
        </script>
    </head>
    <body class="bg-dark text-white {{$.FolderName}}">
        {{template "navigation.html"}}
        <h1>MiSTer {{.ListName}}</h1>
        <div class="letterSelect">
            {{range .Sections}}
                <a class="btn btn-primary {{if (eq .Name $.CurrentPage)}}active{{end}}" href="{{.Name}}.html" role="button">{{.Label}}</a>
                {{if (eq "arcade" $.FolderName)}}
                    {{if (eq "2012" .Name)}}
                        <a class="btn btn-warning " href="num.html" role="button">By Name</a>
                        <a class="btn btn-success " href="jotego.html" role="button">By Core Author</a>
                    {{end}}
                    {{if (eq "textlist" .Name)}}
                        <a class="btn btn-warning " href="1971.html" role="button">By Year</a>
                        <a class="btn btn-success " href="jotego.html" role="button">By Core Author</a>
                    {{end}}
                    {{if (eq "MrX-8B" .Name)}}
                        <a class="btn btn-warning " href="1971.html" role="button">By Year</a>
                        <a class="btn btn-success " href="num.html" role="button">By Name</a>
                        <br/>Core Authors: Please add &lt;about author="YOUR_NAME"/&gt; in your MRA files <a href="https://github.com/jotego/jtbin/blob/master/mister/cps1/releases/1941%20%20Counter%20Attack%20-World%20900227-.mra">like this</a>.
                    {{end}}
                {{end}}
            {{end}}
        </div>
        
        {{if (ne "textlist" .CurrentPage)}}
            <section id="num" class="photos">
                {{range .Games}}
                <div class="image">
                    <a href="/mister/{{$.FolderName}}/games/{{.Page}}.html"><img src="/mister/{{$.FolderName}}/snaps/{{.Image}}"><h2>{{.Name}}</h2></a>
                </div>
                {{end}}
            </section>
        {{end}}

        {{if (eq "textlist" .CurrentPage)}}
            <ul>
                {{range .Games}}
                <li><a href="/mister/{{$.FolderName}}/games/{{.Page}}.html">{{.Name}}</a></li>
                {{end}}
            </ul>
        {{end}}

        <div class="letterSelect">
            {{range .Sections}}
                <a class="btn btn-primary {{if (eq .Name $.CurrentPage)}}active{{end}}" href="{{.Name}}.html" role="button">{{.Label}}</a>
                {{if (eq "arcade" $.FolderName)}}
                    {{if (eq "2012" .Name)}}
                        <a class="btn btn-warning " href="num.html" role="button">By Name</a>
                        <a class="btn btn-success " href="jotego.html" role="button">By Core Author</a>
                    {{end}}
                    {{if (eq "textlist" .Name)}}
                        <a class="btn btn-warning " href="1971.html" role="button">By Year</a>
                        <a class="btn btn-success " href="jotego.html" role="button">By Core Author</a>
                    {{end}}
                    {{if (eq "MrX-8B" .Name)}}
                        <a class="btn btn-warning " href="1971.html" role="button">By Year</a>
                        <a class="btn btn-success " href="num.html" role="button">By Name</a>
                        <br/>Core Authors: Please add &lt;about author="YOUR_NAME"/&gt; in your MRA files <a href="https://github.com/jotego/jtbin/blob/master/mister/cps1/releases/1941%20%20Counter%20Attack%20-World%20900227-.mra">like this</a>.
                    {{end}}
                {{end}}
            {{end}}
        </div>
        <div id="credits"></div>
    </body>
</html>