<!DOCTYPE html>
<html>
    <head>
        <title>MiSTer NES Games - FPGAFiles.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="nes.css" rel="stylesheet">
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SSCX9KKHQV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SSCX9KKHQV');
        </script>
    </head>
    <body class="bg-dark text-white">
        {{template "navigation.html"}}
        <h1>MiSTer NES Games</h1>
        <div class="letterSelect">
            {{range .Sections}}
                <a class="btn btn-primary {{if (eq .Name $.CurrentPage)}}active{{end}}" href="{{.Name}}.html" role="button">{{.Label}}</a>
            {{end}}
        </div>
        
        {{if (ne "textlist" .CurrentPage)}}
            <section id="num" class="photos">
                {{range .Games}}
                <div class="image">
                    <a href="/mister/nes/games/{{.Page}}.html"><img src="/mister/nes/snaps/{{.Image}}"><h2>{{.Name}}</h2></a>
                </div>
                {{end}}
            </section>
        {{end}}

        {{if (eq "textlist" .CurrentPage)}}
            <ul>
                {{range .Games}}
                <li><a href="/mister/nes/games/{{.Page}}.html">{{.Name}}</a></li>
                {{end}}
            </ul>
        {{end}}

        <div class="letterSelect">
            {{range .Sections}}
            <a class="btn btn-primary {{if (eq .Name $.CurrentPage)}}active{{end}}" href="{{.Name}}.html" role="button">{{.Label}}</a>
            {{end}}
        </div>

        <style>
            .letterSelect a {
                margin-bottom: 5px;
            }
        </style>
    </body>
</html>