<!DOCTYPE html>
<html>
    <head>
        <title>MiSTer Arcade Games - FPGAFiles.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="arcade.css" rel="stylesheet">
        <script src="arcade.js" defer=""></script>
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SSCX9KKHQV"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SSCX9KKHQV');
        </script>
    </head>
    <body class="bg-dark text-white">
        {{template "navigation.html"}}
        <template id="mycard">
            <div class="image">
                <a href=""><img src=""><h2></h2></a>
            </div>
        </template>
        <h1>MiSTer Arcade Games</h1>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">#-J</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">K-R</label>
                        
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">S-Z</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4">By Year</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio5">Text List</label>
          </div>

        <div class="nameDiv1">
            <h1>#</h1>
            <section id="num" class="photos"></section>
            <a href="#">Back to Top</a><hr>
            {{range .Alphabet1}}
                <h1 id="section{{.}}">{{.}}</h1>
                <section id="{{.}}" class="photos"></section>
                <a href="#">Back to Top</a><hr>
            {{end}}
        </div>

        <div class="nameDiv2" style="display: none;">
            {{range .Alphabet2}}
                <h1 id="section{{.}}">{{.}}</h1>
                <section id="{{.}}" class="photos"></section>
                <a href="#">Back to Top</a><hr>
            {{end}}
        </div>

        <div class="nameDiv3" style="display: none;">
            {{range .Alphabet3}}
                <h1 id="section{{.}}">{{.}}</h1>
                <section id="{{.}}" class="photos"></section>
                <a href="#">Back to Top</a><hr>
            {{end}}
        </div>

        <div class="yearDiv" style="display: none;">
            {{range .Years}}
            <h1 id="section{{.}}">{{.}}</h1>
            <section id="s{{.}}" class="photos"></section>
            <a href="#">Back to Top</a><hr>
            {{end}}
        </div>

        <div class="textListDiv" style="display: none;">
            <ul id="textListUL"></ul>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){

            showGrid();

            var firstButton = document.querySelector('#btnradio1');
            firstButton.addEventListener('click', function (event) {
                var nameDiv1 = document.querySelector('.nameDiv1')
                var nameDiv2 = document.querySelector('.nameDiv2')
                var nameDiv3 = document.querySelector('.nameDiv3')
                var yearDiv = document.querySelector('.yearDiv')
                var textListDiv = document.querySelector('.textListDiv')
                nameDiv1.style.display = 'block';
                nameDiv2.style.display = 'none';
                nameDiv3.style.display = 'none';
                yearDiv.style.display = 'none';
                textListDiv.style.display = 'none';
            });

            var secondButton = document.querySelector('#btnradio2');
            secondButton.addEventListener('click', function (event) {
                var nameDiv1 = document.querySelector('.nameDiv1')
                var nameDiv2 = document.querySelector('.nameDiv2')
                var nameDiv3 = document.querySelector('.nameDiv3')
                var yearDiv = document.querySelector('.yearDiv')
                var textListDiv = document.querySelector('.textListDiv')
                nameDiv1.style.display = 'none';
                nameDiv2.style.display = 'block';
                nameDiv3.style.display = 'none';
                yearDiv.style.display = 'none';
                textListDiv.style.display = 'none';
            });

            var thirdButton = document.querySelector('#btnradio3');
            thirdButton.addEventListener('click', function (event) {
                var nameDiv1 = document.querySelector('.nameDiv1')
                var nameDiv2 = document.querySelector('.nameDiv2')
                var nameDiv3 = document.querySelector('.nameDiv3')
                var yearDiv = document.querySelector('.yearDiv')
                var textListDiv = document.querySelector('.textListDiv')
                nameDiv1.style.display = 'none';
                nameDiv2.style.display = 'none';
                nameDiv3.style.display = 'block';
                yearDiv.style.display = 'none';
                textListDiv.style.display = 'none';
            });

            var fourthButton = document.querySelector('#btnradio4');
            fourthButton.addEventListener('click', function (event) {
                var nameDiv1 = document.querySelector('.nameDiv1')
                var nameDiv2 = document.querySelector('.nameDiv2')
                var nameDiv3 = document.querySelector('.nameDiv3')
                var yearDiv = document.querySelector('.yearDiv')
                var textListDiv = document.querySelector('.textListDiv')
                nameDiv1.style.display = 'none';
                nameDiv2.style.display = 'none';
                nameDiv3.style.display = 'none';
                yearDiv.style.display = 'block';
                textListDiv.style.display = 'none';
            });

            var fifthButton = document.querySelector('#btnradio5');
            fifthButton.addEventListener('click', function (event) {
                var nameDiv1 = document.querySelector('.nameDiv1')
                var nameDiv2 = document.querySelector('.nameDiv2')
                var nameDiv3 = document.querySelector('.nameDiv3')
                var yearDiv = document.querySelector('.yearDiv')
                var textListDiv = document.querySelector('.textListDiv')
                nameDiv1.style.display = 'none';
                nameDiv2.style.display = 'none';
                nameDiv3.style.display = 'none';
                yearDiv.style.display = 'none';
                textListDiv.style.display = 'block';
            });

        });
    </script>
    </body>
</html>