div.content {
    width: 95%;
    max-width:900px;
    margin:0 auto;
  }
  img.resize {
    width: 100%;  
    height: auto;
  }
  div.resize {
    width: 100%;  
    text-align: left;
  }
  hr {
    margin: 1px 0px 0px 0px;
  }
  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
  } 
  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
  #credits {
    text-align: center;
    margin: 24px;
  }